body {
    background-color: rgb(253, 228, 186);
    text-align:center;
    padding: 100px;

}

#logo{
    width: 200px;
    border-radius: 50px;
    border: 4px solid #000;
    transition: 1s;

}

#logo:hover{
    transform: rotate(360deg) scale(1.2);
    border: 4px dotted#db1919;



}

h1{
    color: #db1919;
    font-size: 30px;
    text-decoration: underline;
}

p{
    text-align: justify;
    color: blueviolet;
}

h2{
    text-align: left;
    font-size: 28px;
    color: cadetblue;
}

ol{
    text-align: left;
}
   
table{
    width: 100%;
    margin: 40px 0;

}

tr,td{
    border: 1px solid seagreen;
}

td{
    padding: 20px;
}

.cabecera{
    background-color: #fff;

}

form{
    width: 600px;
    margin: 50px auto;
    background: pink;
    padding: 30px;
    text-align: left;
   
}

label{
    display: block;
}

input{
    display: block;
    margin-bottom: 26px;
    padding: 6px 12px;
    width: 85%;
}

button{
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: plum;
    border: 2px solid seagreen;
    cursor: pointer;
}

button:hover{
    background: pink;
    color:#000;
    border-radius: 0;
}
iframe{
    margin: 40px 0;
    
}